* {
	box-sizing: border-box;
}

body {
	background: $color-light-gray;
	font-family: $font-family-serif;
	color: $color-dark-gray;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-serif;
	margin: 1rem auto 1rem;
	color: $color-dark-gray;
}

h1 { font-size: 3rem; font-weight: 700; }

h2 { font-size: 2.5rem; }

h3 { font-size: 2.25rem; font-weight: 700; }

h4 { font-size: 1.75rem; }

h5 { font-size: 1.5rem; }

h6 { font-size: 1.25rem; }

p {
	line-height: 1.75rem;
	font-size: 1.25rem;

	@media #{$medium-up} { 
		font-size: 1.25rem;
	}

	a {
		font-weight: 700;
		color: $color-light-blue;
		text-decoration: underline;
	}
}

a {
	color: $color-blue;
}