html {
  background: white;
  color: black;
}

body {
  font-family: monospace;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

a {
  color: #076f4b;
}

a:visited {
  color: #118f62;
}

a:active {
  color: #076f4b;
}

li {
  margin: 0.25rem 0;
}

p.links {
  text-align: center;
  border-top: 1px solid #999;
  padding: 1em 0;
  margin: 2em 0;
}

@media (prefers-color-scheme: dark) {
  html {
    background: #222222;
    color: #f0f0f0;
  }

  a {
    color: #7ba3ca;
  }

  a:visited {
    color: #4e7dab;
  }

  a:active {
    color: #2c9e76;
  }

  p.links {
    border-top-color: #ccc;
  }
}
