html {
  background: white;
  color: black;
}

body {
  font-family: monospace;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

a {
  color: #076f4b;
}

a:visited {
  color: #118f62;
}

a:active {
  color: #076f4b;
}

li {
  margin: 0.25rem 0;
}

p.links {
  text-align: center;
  border-top: 1px solid #999;
  padding: 1em 0 0 0;
  margin: 3em 0 1em 0;
}

p.license {
  text-align: center;
  color: #808080;
}

ul.gallery {
  display:  block;
  border-top: 1px solid #999;
  margin: 2em 0;
  padding: 2em 0 0 0;
  text-align: center;
  list-style-type: none;
}

ul.gallery li {
  display: inline-block;
  margin: 1em 0;
  width: 14em;
  height: 14em;
  text-align: center;
  vertical-align: top;
}

ul.gallery li img {
  max-height: 7em;
}

@media (prefers-color-scheme: dark) {
  html {
    background: #222222;
    color: #f0f0f0;
  }

  a {
    color: #7ba3ca;
  }

  a:visited {
    color: #4e7dab;
  }

  a:active {
    color: #2c9e76;
  }

  p.links {
    border-top-color: #ccc;
  }

  p.license {
    color: #cccccc;
  }
}
