.flh-nav {

	img.profile {
		border: 1px solid $color-light-blue;
		border-radius: 2rem;
		display: block;
		width: 95%;
		margin: 0 auto;
	}

	ul.side-nav {
		margin: 0;
		
		li {
			list-style-type: none;
			font-family: $font-family-serif;

			&.header {
				font-size: 1.5rem;
				font-weight: 500;
				line-height: 1.5rem;
				padding: 0;
				color: $color-dark-blue;

				hr {
					margin: 0.4rem 0;
				}
			}

			&.picture {
				img {
					border: 1px solid $color-dark-gray;
					border-radius: 1rem;
					margin: 1rem auto;
				}
			}

			a.icon-button {
				display: block;
				background: $color-light-blue;
				border: 1px solid $color-light-blue;
				border-radius: 10px;
				margin: 0.6rem 0.6rem;
				color: $color-white;
				text-align: left;
				padding: 0.1rem 0.3rem;
			}

			a.icon-button:hover {
				background: $color-lightest-blue;
				/* color: $color-dark-gray; */
			}

			&.icon-list {
				margin: 1rem 0;
				padding-left: 1rem;
				font-weight: 700;

				a {
					color: $color-dark-gray;
				}

				.icon {
					display: inline-block;
					width: 1.5rem;
					text-align: center;
					color: $color-light-blue;
					margin: 0 0.2rem 0 0;
				}
				
				i.fa-slack {
					-ms-transform: rotate(19deg);
					-webkit-transform: rotate(19deg);
					transform: rotate(19deg);
				}

				i.fa-github {
					font-size: 1.3rem;
				}

				i.fa-google-plus-square {
					font-size: 1.1rem;
				}
			}
		}
	}
}

/*
// PULLED FROM SIDEBAR

<hr>

<ul class="side-nav">
	<li class="header text-center">
		What to read next
	</li>
	<li>
		<a class="icon-button" href="#">
			<i class="fa fa-ship"></i>
			Go is the new Go
		</a>
	</li>
	<li>
		<a class="icon-button" href="#">
			<i class="fa fa-ship"></i>
			Go is the new Go
		</a>
	</li>
	<li>
		<a class="icon-button" href="#">
			<i class="fa fa-ship"></i>
			Go is the new Go
		</a>
	</li>
	<li>
		<a class="icon-button" href="#">
			<i class="fa fa-ship"></i>
			Go is the new Go
		</a>
	</li>
	
</ul>

<hr>
 */